{% extends 'base.html.twig' %}

{% block title %}Exercice 5{% endblock %}

{% block body %}
    {# Condition si resultat est différent de  #}
    {% if resultat == "Les variables $nbr1 et $nbr2 ne sont pas des nombres" 
        or resultat == "la division par zéro est impossible" %}
        <p><strong>{{ resultat |upper }}</strong></p> 
    {# Condition normale affiche le résultat de l'opération #}
    {% else %} 
        <p>Le resultat de l'operation : <strong>{{ operateur }}</strong> avec les nombres 
            <strong>{{ nb1 }}</strong> et <strong>{{ nb2 }}</strong> est égal à : </p>
        <p><strong>{{ resultat  }}</strong></p> 
    {% endif %}
{% endblock %}