{% extends 'base.html.twig' %}

{% block title %}Hello Exo6Controller!{% endblock %}

{% block body %}
    {% if operateur == 'add' %}
        <p>{{nbr1}} + {{nbr2}} = {{nbr1 + nbr2}}</p>
    {% elseif operateur == 'sub' %}
        <p>{{nbr1}} - {{nbr2}} = {{nbr1 - nbr2}}</p>
    {% elseif operateur == 'div' %}
        <p>{{nbr1}} / {{nbr2}} = {{nbr1 / nbr2}}</p>
    {% else %}
        <p>{{nbr1}} * {{nbr2}} = {{nbr1 * nbr2}}</p>
    {% endif %}
{% endblock %}